<div class="container">
    <div class="form-section">
        <form [formGroup]="appointmentForm" class="appointmentForm" (ngSubmit)="onSubmit()">

            <!-- sid select -->
            <mat-form-field class="example-full-width">
              <mat-label> SID </mat-label>
              <input matInput placeholder="SID" formControlName="sid" >
              <span class="text-danger" 
              *ngIf="(appointmentForm.get('sid').touched || submitted) && appointmentForm.get('sid').errors && appointmentForm.get('sid').errors['required'] ">
              First Name is Required
              </span>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label> First Name </mat-label>
              <input matInput placeholder="firstName" formControlName="firstName" >
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label> Last Name </mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName" >
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label> Position </mat-label>
              <mat-select formControlName="position">
              <mat-option value="AB Trainee">AB Trainee</mat-option>
              <mat-option value="OS">OS</mat-option>
              <mat-option value="AB">AB</mat-option>
              <mat-option value="Bosun">Bosun</mat-option>
             <mat-option value="Pumpman">Pumpman</mat-option>
             <mat-option value="Oiler">Oiler</mat-option>
              <mat-option value="Fitter">Fitter</mat-option>
              <mat-option value="Messman">Messman</mat-option>
             <mat-option value="Cook">Cook</mat-option>
             <mat-option value="Electrician">Electrician</mat-option>
             </mat-select>
            </mat-form-field>  
            <br>

            <mat-form-field class="example-full-width">
              <mat-label> Appointment Date </mat-label>
              <input matInput [matDatepicker]="appointmentDate" formControlName="appointmentDate"/>
              <mat-hint> MM/DD/YYYY </mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="appointmentDate"></mat-datepicker-toggle>
              <mat-datepicker #appointmentDate></mat-datepicker>
            </mat-form-field>
            <br><br>

            <!-- <mat-form-field>
              <mat-label>Appointment Time</mat-label>
              <input matInput [matTimepicker]="appointmentTime" formControlName="appointmentTime">
              <mat-timepicker-toggle matIconSuffix [for]="appointmentTime"></mat-timepicker-toggle> 
              <mat-timepicker #picker></mat-timepicker>
            </mat-form-field> -->

            <mat-form-field class="example-full-width"> 
              <mat-label> Appointment Time </mat-label>
              <mat-select formControlName="appointmentTime">
                <mat-option value="10.00 - 10.30">10.00 - 10.30</mat-option>
                <mat-option value="10.45 - 11.15">10.45 - 11.15</mat-option>
                <mat-option value="11.30 - 12.00">11.30 - 12.00</mat-option>
                <mat-option value="12.15 - 12.45">12.15 - 12.45</mat-option>
                <mat-option value="13.00 - 13.30">13.00 - 13.30</mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <button type="submit" mat-raised-button color="primary" class="form-button" [disabled]="isButtonDisabled"> {{saveButtonLabel}} </button>
            <button type="reset" mat-raised-button color="secondary" class="form-button" (click)="resetData()"> Reset </button>
      
        </form>
    </div>
</div>