<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Set Appointments"> <div class="container"></div> 
  <div class="form-section">
    <div class="main-content">
      <app-calendar
        (dayClick)="openAddModal($event)"
        (appointmentClick)="openEditModal($event)"
      >
      </app-calendar>
    </div>

    <app-appointment-modal
      *ngIf="showModal()"
      [appointment]="editingAppointment()"
      [prefillDate]="prefillDate()"
      (save)="saveAppointment($event)"
      (close)="closeModal()"
    >
    </app-appointment-modal>
  </div>
  </mat-tab>
  <mat-tab label="Appointment List"> 
    <div class="container">
  
  <div class="table-section">
    <div class="refresh-filter-section">
      <div class="refresh-button">
        <button mat-raised-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
        <td mat-cell *matCellDef="let element"> {{element.appointmentDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="appointmentTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Time </th>
        <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
      </ng-container>

      <ng-container matColumnDef="appointmentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Status</th>
        <td mat-cell *matCellDef="let element"> {{element.appointmentStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" type="button" (click)="editData(element)" matTooltip="edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" type="button" (click)="deleteData(element)" matTooltip="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
  </mat-tab>
</mat-tab-group>
