<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Seafarer Registrations</h3>
      <apx-chart
        [series]="seafarersRegisteredByMonthOptions.series"
        [chart]="seafarersRegisteredByMonthOptions.chart"
        [xaxis]="seafarersRegisteredByMonthOptions.xaxis"
        [yaxis]="seafarersRegisteredByMonthOptions.yaxis"
        [colors]="seafarersRegisteredByMonthOptions.colors"
        [plotOptions]="seafarersRegisteredByMonthOptions.plotOptions"
        [grid]="seafarersRegisteredByMonthOptions.grid"
        [title]="seafarersRegisteredByMonthOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
