<div class="header">
  <h3>Certificate Verification</h3>
  <!-- <i class="feather icon-user"></i> -->
</div>

<div class="container">
  <div class="form-section">
    <form [formGroup]="certificateVerificationForm" class="certificateVerificationForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>SID No</mat-label>
              <mat-select [(ngModel)]="selectedSeafarers" formControlName="sidNo" (valueChange)="onSeafarersSelect($event)">
            <mat-form-field class="w-100">
            <input matInput placeholder="Search for Seafarers..." (keyup)="onKey($event.target)" />
          </mat-form-field>
          <mat-option *ngFor="let seafarers of seafarersDropdown" [value]="seafarers.id">{{ seafarers.sidNo }}</mat-option>
            </mat-select>
            </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Certificate Name </mat-label>
            <mat-select formControlName="certificateName">
            <mat-option value="Advanced Fire Fighting">Advanced Fire Fighting</mat-option>
            <mat-option value="Medical First Aid">Medical First Aid</mat-option>
            <mat-option value="Surival Craft & Rescue Boat">Surival Craft & Rescue Boat</mat-option>
            <mat-option value="Refresher Certificates">Refresher Certificates</mat-option>
            <mat-option value="Designated Security Duties">Security Training & Designated Security Duties</mat-option>
            <mat-option value="Oil & Chemical Tanker">Oil & Chemical Tanker</mat-option>
            <mat-option value="Tanker Endorsement">Tanker Endorsement</mat-option>
            <mat-option value="Basic Endorsement">Basic Endorsement</mat-option>
            <mat-option value="II-4 (Deck)">Certificate of Proficiency (II-4)</mat-option>
            <mat-option value="II-5 (Deck)">Certificate of Proficiency (II-5)</mat-option>
            <mat-option value="III-4 (Engine)">Certificate of Proficiency (III-4)</mat-option>
            <mat-option value="III-5 (Engine)">Certificate of Proficiency (III-5)</mat-option>      
            <mat-option value="III-7 (ETR)">Certificate of Proficiency (ETR-7)</mat-option>
            <mat-option value="MLC">Certificate of Proficiency (MLC)</mat-option>
            <mat-option value="6G">Fitter (6G)</mat-option>      
            <mat-option value="LR">Lloyd Certificate (LR)</mat-option>
        </mat-select>
       </mat-form-field> 

       <div class="form-field">
        <label for="image">Upload Certificate Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*"/>
       </div>
        
      <div *ngIf="previewUrl">
        <p>Image Preview:</p>
        <img [src]="previewUrl" alt="Image preview" width="200" />
      </div>
      <br>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Verification Status </mat-label>
        <mat-select formControlName="verificationStatus">
          <mat-option value="valid">Valid</mat-option>
          <mat-option value="invalid">Invalid</mat-option>
          <mat-option value="expired">Expired</mat-option>
        </mat-select>
      </mat-form-field>  
      <br>

      <button type="submit" mat-raised-button color="primary" class="form-button" [disabled]="isButtonDisabled" > {{saveButtonLabel}} </button>
      <button type="reset" mat-raised-button color="secondary" class="form-button" (click)="resetData()" > Reset </button>

      <br><br><br>
    
    </form>
  </div>

  <div class="table-section">

        <div class="refresh-filter-section">
            <div class="refresh-button">
              <button mat-raised-button color="primary" (click)="refreshData()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>

            <mat-form-field appearance="outline" class="filter">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
              </mat-form-field>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="sidName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="true"> SID No </th>
                    <td mat-cell *matCellDef="let element"> {{element.sidNo}} </td>
                  </ng-container>

                <ng-container matColumnDef="sidNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>SID No</th>
                  <td mat-cell *matCellDef="let element">{{ sidMap.get(+element.sidNo) }}</td>
                </ng-container>

                  <ng-container matColumnDef="certificateName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Certificate Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.certificateName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="verificationStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Verification Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.verificationStatus}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> 
                      <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
                  
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
</div>