.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-section{
    flex: 1px;
    padding: 5px;
    border-right: 1px solid #ccc;
}

.table-section{
    flex: 1px;  
}

.example-full-width{
    width: 50%;
}

.form-button{
    margin-right: 1%;
}

.refresh-filter-section{
    display: flex;
    flex-direction: row;
}

.refresh-button{
    margin: 1%;
}

.filter{
    width: 100%;
}

.refresh-filter-section{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.refresh-button{
    margin: 1%;
}

// Photo upload
.form-field {
    max-width: 300px;
    margin-bottom: 1rem;
  }

  input[type="file"] {
    width: 100%;
  }
  
  img {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

