<div class="header">
  <h3>Personal Details</h3>
  <!-- <i class="feather icon-user"></i> -->
</div>

<div class="container">
  <div class="form-section">
    <form [formGroup]="seafarersForm" class="seafarersForm" (ngSubmit)="onSubmit()">

      <!-- Photo upload - Start -->
       <div class="form-field">
        <label for="image">Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*"/>
          <mat-error *ngIf="(seafarersForm.get('profileImage')?.touched || submitted) && seafarersForm.get('profileImage')?.hasError('required')"> Profile image is required. </mat-error>
       </div>
        
      <div *ngIf="previewUrl">
        <p>Image Preview:</p>
        <img [src]="previewUrl" alt="Image preview" width="200" />
      </div>
      <br>
      <!-- Photo upload - End -->

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Applied Date </mat-label>
        <input matInput [matDatepicker]="appliedDate" formControlName="appliedDate"/>
        <mat-hint> MM/DD/YYYY </mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="appliedDate"></mat-datepicker-toggle>
        <mat-datepicker #appliedDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> SID No </mat-label>
        <input matInput placeholder="SID No" formControlName="sidNo" >
          <mat-error *ngIf="seafarersForm.get('sidNo')?.hasError('required')"> SID No is required. </mat-error>
          <mat-error *ngIf="(seafarersForm.get('sidNo')?.touched || submitted) && seafarersForm.get('sidNo')?.hasError('maxlength')"> Cannot exceed 10 characters. </mat-error>
          <mat-error *ngIf="(seafarersForm.get('sidNo')?.touched || submitted) && seafarersForm.get('sidNo')?.hasError('pattern')">Can Contain letters and numbers only.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Position </mat-label>
        <mat-select formControlName="position">
          <mat-option value="AB Trainee">AB Trainee</mat-option>
          <mat-option value="OS">OS</mat-option>
          <mat-option value="AB">AB</mat-option>
          <mat-option value="Bosun">Bosun</mat-option>
          <mat-option value="Pumpman">Pumpman</mat-option>
          <mat-option value="Oiler">Oiler</mat-option>
          <mat-option value="Fitter">Fitter</mat-option>
          <mat-option value="Messman">Messman</mat-option>
          <mat-option value="Cook">Cook</mat-option>
          <mat-option value="Electrician">Electrician</mat-option>
        </mat-select>
        <mat-error *ngIf="seafarersForm.get('position')?.hasError('required')"> position is required. </mat-error>      
      </mat-form-field>  

      <!-- <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Available Date </mat-label>
        <input matInput [matDatepicker]="availableDate" formControlName="availableDate"/>
        <mat-hint> MM/DD/YYYY </mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="availableDate"></mat-datepicker-toggle>
        <mat-datepicker #availableDate></mat-datepicker>
          <mat-error *ngIf="seafarersForm.get('availableDate')?.hasError('required')"> Available Date is required. </mat-error>
          <mat-error *ngIf="seafarersForm.get('availableDate')?.hasError('pastDate')"> Cannot be in the past. </mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Surname </mat-label>
        <input matInput placeholder="Surname" formControlName="surname" >
          <mat-error *ngIf="seafarersForm.get('surname')?.hasError('required')"> SurName is required. </mat-error>
          <mat-error *ngIf="seafarersForm.get('surname')?.hasError('pattern')"> Only letters and spaces. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Other Names </mat-label>
        <input matInput placeholder="Other Names" formControlName="otherNames" >
          <mat-error *ngIf="seafarersForm.get('otherNames')?.hasError('required')"> Other Names is required. </mat-error>
          <mat-error *ngIf="seafarersForm.get('otherNames')?.hasError('pattern')"> Only letters and spaces. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> DOB </mat-label>
        <input matInput [matDatepicker]="dob" formControlName="dob"/>
        <mat-hint> MM/DD/YYYY </mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
          <mat-error *ngIf="seafarersForm.get('dob')?.hasError('underAge')"> Must be at least 18 years old. </mat-error>
          <mat-error *ngIf="seafarersForm.get('dob')?.hasError('overAge')"> Age must not exceed 60 years.. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Birth Place </mat-label>
        <input matInput placeholder="Birth Place" formControlName="birthPlace" >
          <mat-error *ngIf="seafarersForm.get('birthPlace')?.hasError('pattern')"> Only letters and spaces. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> NIC </mat-label>
        <input matInput placeholder="NIC" formControlName="nic" >
          <mat-error *ngIf="seafarersForm.get('nic')?.hasError('pattern')"> Enter a valid NIC number. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Religion </mat-label>
        <mat-select  formControlName="religion">
          <mat-option value="Buddhist">Buddhist</mat-option>
          <mat-option value="Catholic">Catholic</mat-option>
          <mat-option value="Hindu">Hindu</mat-option>
          <mat-option value="Islam">Islam</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-label> Married Status </mat-label> <br>
      <mat-radio-group name="Married Status" formControlName="marriedStatus" class="example-full-width">
        <mat-radio-button value="Single" checked="true">Single</mat-radio-button>
        <mat-radio-button value="Married">Married</mat-radio-button>
      </mat-radio-group>  

      <mat-label> Gender </mat-label> <br>
      <mat-radio-group name="Gender" formControlName="gender" class="example-full-width">
        <mat-radio-button value="Male" checked="true">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="(seafarersForm.get('gender')?.touched || submitted) && seafarersForm.get('gender')?.hasError('required')"> Gender is required. </mat-error>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> No Of Childern </mat-label>
        <input matInput type="number" matInput placeholder="No Of Children" formControlName="noOfChildren">
          <mat-error *ngIf="(seafarersForm.get('noOfChildren')?.touched || submitted) && seafarersForm.get('noOfChildren')?.hasError('min')"> Cannot be less than 0. </mat-error>
          <mat-error *ngIf="(seafarersForm.get('noOfChildren')?.touched || submitted) && seafarersForm.get('noOfChildren')?.hasError('max')"> Cannot exceed 10. </mat-error>
          <mat-error *ngIf="(seafarersForm.get('noOfChildren')?.touched || submitted) && seafarersForm.get('noOfChildren')?.hasError('pattern')">Whole digits only are allowed.</mat-error>  
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Address </mat-label>
        <input matInput placeholder="Address" formControlName="address" >
          <mat-error *ngIf="(seafarersForm.get('address')?.touched || submitted) && seafarersForm.get('address')?.hasError('pattern')">Enter valid Address. </mat-error>
      </mat-form-field>

      <mat-label> English language </mat-label> <br>
      <mat-radio-group name="English language" formControlName="englishLanguage">
        <mat-radio-button value="Good">Good</mat-radio-button>
        <mat-radio-button value="Not Good">Not Good</mat-radio-button>
      </mat-radio-group> 
      <br><br>

      <h5>Contact Details</h5>
      
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Home </mat-label>
        <input matInput placeholder="Home" formControlName="home" >
          <mat-error *ngIf="(seafarersForm.get('home')?.touched || submitted) && seafarersForm.get('home')?.hasError('pattern')">Enter a valid contact number.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Mobile </mat-label>
        <input matInput placeholder="Mobile" formControlName="mobile" >
          <mat-error *ngIf="seafarersForm.get('mobile')?.hasError('required')"> mobile number is required. </mat-error>
          <mat-error *ngIf="(seafarersForm.get('mobile')?.touched || submitted) && seafarersForm.get('mobile')?.hasError('pattern')">Enter a valid mobile number.</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> E-mail </mat-label>
        <input matInput placeholder="E-mail" formControlName="email" >
          <mat-error *ngIf="seafarersForm.get('email')?.hasError('required')"> Email is required. </mat-error>
          <mat-error *ngIf="seafarersForm.get('email')?.hasError('pattern')"> Enter a valid email address. </mat-error>
      </mat-form-field>

      <h5>Next of Kin Details</h5>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Name </mat-label>
        <input matInput placeholder="Name" formControlName="kinName" >
        <mat-error *ngIf="seafarersForm.get('kinName')?.hasError('pattern')"> Only letters and spaces. </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Relationship </mat-label>
        <mat-select formControlName="kinRelationship">
          <mat-option value="Wife">Wife</mat-option>
          <mat-option value="Father">Father</mat-option>
          <mat-option value="Mother">Mother</mat-option>
          <mat-option value="Brother">Brother</mat-option>
          <mat-option value="Sister">Sister</mat-option>
        </mat-select>
        <mat-error *ngIf="seafarersForm.get('kinRelationship')?.hasError('required')"> Relationship is required. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Address </mat-label>
        <input matInput placeholder="Address" formControlName="kinAddress" >
          <mat-error *ngIf="(seafarersForm.get('kinAddress')?.touched || submitted) && seafarersForm.get('kinAddress')?.hasError('pattern')">Enter valid Address. </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> Mobile </mat-label>
        <input matInput placeholder="Mobile" formControlName="kinMobile" >
          <mat-error *ngIf="(seafarersForm.get('kinMobile')?.touched || submitted) && seafarersForm.get('kinMobile')?.hasError('pattern')">Enter a valid mobile number.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label> E-mail </mat-label>
        <input matInput placeholder="E-mail" formControlName="kinEmail" >
        <mat-error *ngIf="seafarersForm.get('kinEmail')?.hasError('pattern')"> Enter a valid email address. </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" class="form-button" [disabled]="isButtonDisabled" > {{saveButtonLabel}} </button>
      <button type="button" mat-raised-button color="secondary" class="form-button reset-button" (click)="resetData()" > Reset </button>

    
    </form>
  </div>

  <div class="table-section">
    <div class="refresh-filter-section">
      <div class="refresh-button">
        <button mat-raised-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="outline" class="filter">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="profileImage">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img 
            [src]="'data:image/jpeg;base64,' + element.profileImage" class="avatar"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="sidNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SID </th>
        <td mat-cell *matCellDef="let element"> {{element.sidNo}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
      </ng-container>

      <ng-container matColumnDef="appliedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Applied Date </th>
        <td mat-cell *matCellDef="let element"> {{element.appliedDate | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

     <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
    

        

