<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Monthly Employee Attendance</h3>
      <apx-chart
        [series]="employeeAttendanceByMonthOptions.series"
        [chart]="employeeAttendanceByMonthOptions.chart"
        [xaxis]="employeeAttendanceByMonthOptions.xaxis"
        [yaxis]="employeeAttendanceByMonthOptions.yaxis"
        [colors]="employeeAttendanceByMonthOptions.colors"
        [plotOptions]="employeeAttendanceByMonthOptions.plotOptions"
        [grid]="employeeAttendanceByMonthOptions.grid"
        [title]="employeeAttendanceByMonthOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
