<div class="header">
  <h3>Employee Details</h3>
  <!-- <i class="feather icon-user"></i> -->
</div>

<div class="container">
  <div class="form-section">
    <form [formGroup]="employeeForm" class="employeeForm" (ngSubmit)="onSubmit()">
      <!-- Photo upload - Start -->
      <div class="form-field">
        <label for="image">Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </div>

      <div *ngIf="previewUrl">
        <p>Image Preview:</p>
        <img [src]="previewUrl" alt="Image preview" width="200" />
      </div>
      <br />
      <!-- Photo upload - End -->

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Emp No.</mat-label>
        <input matInput placeholder="Emp No." formControlName="empNo" />
        <mat-error *ngIf="employeeForm.get('empNo')?.hasError('required') &&
                            (employeeForm.get('empNo')?.touched || submitted)">
            Required (Ex.E001)
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" />
          <mat-error *ngIf="employeeForm.get('firstName')?.invalid && (employeeForm.get('firstName')?.touched || submitted)">
            {{
              employeeForm.get('firstName')?.hasError('required') ? 'First Name is Required.'
                : employeeForm.get('firstName')?.hasError('pattern') ? 'Can contain letters only.'
                : ''
            }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" />
          <mat-error *ngIf="employeeForm.get('lastName')?.invalid && (employeeForm.get('lastName')?.touched || submitted)">
            {{
              employeeForm.get('lastName')?.hasError('required') ? 'Last Name is Required.'
                : employeeForm.get('lastName')?.hasError('pattern') ? 'Can contain letters only.'
                : ''
            }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Calling Name</mat-label>
        <input matInput placeholder="Calling Name" formControlName="callingName" />
          <mat-error *ngIf="employeeForm.get('callingName')?.hasError('pattern') &&
                            (employeeForm.get('callingName')?.touched || submitted)">
            Can contain letters only.
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>NIC</mat-label>
        <input matInput placeholder="NIC" formControlName="nic" />
        <mat-error *ngIf="employeeForm.get('nic')?.hasError('required') &&
                            (employeeForm.get('nic')?.touched || submitted)">
            Required (Standard format)
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>D O B</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select a Role</mat-label>
        <mat-select [(value)]="selected" formControlName="roles">
          <mat-option value="Managing Director">Managing Director</mat-option>
          <mat-option value="Crew Manager">Crew Manager</mat-option>
          <mat-option value="Assistant Crew Manager">Assistant Crew Manager</mat-option>
          <mat-option value="Shipping Executive">Shipping Executive</mat-option>
          <mat-option value="Accounts & HR Executive">Accounts & HR Executive</mat-option>
        </mat-select>
        <mat-error *ngIf="employeeForm.get('roles')?.hasError('required') &&
                            (employeeForm.get('roles')?.touched || submitted)">
            Role is Required
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Contact No.(Mobile)</mat-label>
        <input matInput placeholder="Contact No." formControlName="contactNo" />
        <mat-error *ngIf="employeeForm.get('contactNo')?.hasError('required') &&
                            (employeeForm.get('contactNo')?.touched || submitted)">
            Contact No is Required
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="employeeForm.get('email')?.hasError('required') &&
                            (employeeForm.get('email')?.touched || submitted)">
            Email is Required.
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Emergancy Contact Name</mat-label>
        <input matInput placeholder="Emergancy Contact Name" formControlName="emergencyContactName" />
        <span class="text-danger" 
            *ngIf="(employeeForm.get('emergencyContactName').touched || submitted) && employeeForm.get('emergencyContactName').errors && employeeForm.get('emergencyContactName').errors['required'] ">
             Address is Required
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Emergancy Contact No.</mat-label>
        <input matInput placeholder="Emergancy Contact No." formControlName="emergencyContactNo" />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" class="form-button" [disabled]="isButtonDisabled">
        {{ saveButtonLabel }}
      </button>
      <button type="reset" mat-raised-button color="secondary" class="form-button" (click)="resetData()">Reset</button>
    </form>
  </div>
  <div class="table-section">
    <div class="refresh-filter-section">
      <div class="refresh-button">
        <button mat-raised-button (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="outline" class="filter">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="profileImage">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img 
            [src]="'data:image/jpeg;base64,' + element.profileImage" class="avatar"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="empNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee No</th>
        <td mat-cell *matCellDef="let element">{{ element.empNo }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="nic">
        <th mat-header-cell *matHeaderCellDef>NIC</th>
        <td mat-cell *matCellDef="let element">{{ element.nic }}</td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.roles }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="delete">
            <mat-icon>delete</mat-icon>
          </button>
          <!-- Add in index.html or angular.json -->
          <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

          <!-- Button with QR icon -->
          <button mat-icon-button (click)="generateQRCode(element)">
            <span class="material-symbols-outlined">qr_code_2</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
