<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Vessel Registration Type</h3>
      <apx-chart
        [series]="vesselRegisteredByTypeOptions.series"
        [chart]="vesselRegisteredByTypeOptions.chart"
        [xaxis]="vesselRegisteredByTypeOptions.xaxis"
        [yaxis]="vesselRegisteredByTypeOptions.yaxis"
        [colors]="vesselRegisteredByTypeOptions.colors"
        [plotOptions]="vesselRegisteredByTypeOptions.plotOptions"
        [grid]="vesselRegisteredByTypeOptions.grid"
        [title]="vesselRegisteredByTypeOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>

