.backimage {
  background-image: url('/assets/images/user/sea.jpeg');
  background-size: cover;
  background-position: center;

}


.auth-content{
  opacity: 0.9;
  background-color: rgb(224, 231, 235);
}

