<section class="dashboard">
  <div class="dashboard-header">

    <div>
      <h1>Welcome Back 👋</h1>
    </div>
  </div>

 
  <div class="stats-grid">
    <div class="stat-card" *ngFor="let stat of stats">

      <div class="stat-icon" [ngClass]="stat.color">
        <i [class]="stat.icon"></i>
      </div>

      <div class="stat-info">
        <h2>{{ stat.value }}</h2>
        <h4>{{ stat.title }}</h4>

        <span [ngClass]="stat.trend">
          {{ stat.trend === 'up' ? '↑' : '↓' }}
          {{ stat.change }}
          <small>{{ stat.compare }}</small>
        </span>
      </div>

    </div>
  </div>


  <div class="cards-grid">
    <div
      class="menu-card"
      [ngClass]="item.cardColor"
      *ngFor="let item of menuItems"
      (click)="navigateToSection(item.route)"
    >

      <div class="card-top">
        <div class="icon-box">
          {{item.icon}}
        </div>
      </div>

      <h6>{{item.title}}</h6>
      <p> {{item.description}} </p>

      <div class="card-footer">
        <div class="arrow">
          <span>→</span>
        </div>

        <button
          class="open-btn"
          (click)="navigateToSection(item.route); $event.stopPropagation()">
          Open

        </button>
      </div>
    </div>
  </div>
</section>