<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Supplier Payments</h3>
      <apx-chart
        [series]="paymentByMonthlyOptions.series"
        [chart]="paymentByMonthlyOptions.chart"
        [xaxis]="paymentByMonthlyOptions.xaxis"
        [yaxis]="paymentByMonthlyOptions.yaxis"
        [colors]="paymentByMonthlyOptions.colors"
        [plotOptions]="paymentByMonthlyOptions.plotOptions"
        [grid]="paymentByMonthlyOptions.grid"
        [title]="paymentByMonthlyOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
