// .b-title{
//   font-family: 'Poppins', sans-serif;
//   font-size: 20px;
//   font-weight: 500;
//   color:linear-gradient(to right, #00f2fe);
//   margin: 20px 0px 20px 10px;
// }

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: (to right, #00f2fe);
    margin: 20px 0px 20px 10px;
}