<div class="container">
    <div class="form-section">
        <form [formGroup]="seaServicesForm" class="seaServicesForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="example-full-width">
             <mat-label>SID No</mat-label>
             <input matInput placeholder="SID No" formControlName="sidNo">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Company Name" formControlName="companyName">
              </mat-form-field>
              <br>

            <mat-form-field class="example-full-width">
                <mat-label>Vessel Name</mat-label>
                <input matInput placeholder="Vessel Name" formControlName="vesselName">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label> Position </mat-label>
                <mat-select formControlName="position">
                  <mat-option>None</mat-option>
                  <mat-option value="OS">OS</mat-option>
                  <mat-option value="AB">AB</mat-option>
                  <mat-option value="Bosun">Bosun</mat-option>
                  <mat-option value="Pumpman">Pumpman</mat-option>
                  <mat-option value="Oiler">Oiler</mat-option>
                  <mat-option value="Fitter">Fitter+</mat-option>
                  <mat-option value="Messman">Messman+</mat-option>
                  <mat-option value="Cook">Cook</mat-option>
                </mat-select>
              </mat-form-field>
              <br><br>

            <mat-label > Vessel Type </mat-label> <br>
                <mat-radio-group name="Vessel Type" formControlName="vesselType" >
                <mat-radio-button value="Tanker" checked="true">Tanker</mat-radio-button>
                <mat-radio-button value="Bulk">Bulk</mat-radio-button>
                <mat-radio-button value="Cargo">Cargo</mat-radio-button>
                <mat-radio-button value="Container">Container</mat-radio-button>
            </mat-radio-group> 
            <br><br>

            <mat-form-field class="example-full-width">
                <mat-label>Flag</mat-label>
                <input matInput placeholder="Flag" formControlName="flag">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Gross Tonnage</mat-label>
                <input matInput placeholder="GRT" formControlName="grt">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>BHP (KW)</mat-label>
                <input matInput placeholder="BHP" formControlName="bhp">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label> Sign On Date </mat-label>
                <input matInput [matDatepicker]="signOn" formControlName="signOn"/>
                <mat-hint> MM/DD/YYYY </mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="signOn"></mat-datepicker-toggle>
                <mat-datepicker #signOn></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label> Sign Off Date </mat-label>
                <input matInput [matDatepicker]="signOff" formControlName="signOff"/>
                <mat-hint> MM/DD/YYYY </mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="signOff"></mat-datepicker-toggle>
                <mat-datepicker #signOff></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Total Months</mat-label>
                <input matInput placeholder="Total Months" formControlName="totalMonths">
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label> Sign Off Reason </mat-label>
                <mat-select formControlName="reason">
                  <mat-option>None</mat-option>
                  <mat-option value="Completed Contract">Completed Contract</mat-option>
                  <mat-option value="Transfer">Transfer</mat-option>
                  <mat-option value="Management Chance">Management Chance</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
            <br><br>

            <button type="submit" mat-raised-button color="primary" class="form-button" [disabled]="isButtonDisabled"> {{saveButtonLabel}} </button>
            <button type="reset" mat-raised-button color="secondary" class="form-button" (click)="resetData()"> Reset </button>
      
        </form>
    </div>

    <div class="table-section">
        <div class="refresh-filter-section">
            <div class="refresh-button">
              <button mat-raised-button color="primary" (click)="refreshData()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
    
            <mat-form-field class="filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
          </div>
      
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
            <ng-container matColumnDef="sidNo">
              <th mat-header-cell *matHeaderCellDef> SID </th>
              <td mat-cell *matCellDef="let element"> {{element.sidNo}} </td>
            </ng-container>

            <ng-container matColumnDef="vesselName">
                <th mat-header-cell *matHeaderCellDef> Vessel Name </th>
                <td mat-cell *matCellDef="let element"> {{element.vesselName}} </td>
              </ng-container>

              <ng-container matColumnDef="vesselType">
                <th mat-header-cell *matHeaderCellDef> Vessel Type </th>
                <td mat-cell *matCellDef="let element"> {{element.vesselType}} </td>
              </ng-container>

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>